#####################################################
# 해당 docker-compose 파일은 fastapi를 이용한 chating API 서비스를 정의하는 파일입니다.
# 현재 DB는 postgres를 사용하며, 도커 컴포즈를 통해 API 서비스와 DB 서비스를 함께 실행할 수 있습니다.
# 'docker-compose -f 파일루트? up --build' command로 컨테이너를 빌드하고 실행할 수 있습니다.
# compose파일은 서비스 정의, 빌드 컨텍스트, 환경 변수, 볼륨 마운트, 포트 매핑 등을 포함합니다.
# dockerfile은 의존성, 애플리케이션 소스코드 복사, 포트 공개 등을 정의합니다.
# 해당 docker-compose 파일은 3.9 버전의 도커 컴포즈 문법을 사용합니다.
# 추후에 개발 및 배포 환경에 맞게 설정을 조정할 수 있습니다. (dev/prod으로 분리 예정)
# application timezone: Asia/Seoul
# database timezone: Asia/Seoul
#####################################################
version: '3.9'

# 서비스 정의
services:
  # postgres SQL 데이터 베이스 서비스
  db:
    container_name: chating_db  # 컨테이너 이름 설정
    build: 
      dockerfile: ./postgres.Dockerfile # postgres.Dockerfile 사용
    environment:
      - POSTGRES_USER=master  # 데이터베이스 사용자 이름
      - POSTGRES_PASSWORD=dev_password  # 데이터베이스 사용자 비밀번호
      - POSTGRES_DB=dev_db  # 생성할 데이터베이스 이름 실제 사용은 안함
      - TZ=Asia/Seoul  # 데이터베이스 타임존 설정
      - POSTGRES_INITDB_ARGS=--locale=ko_KR.UTF-8 --encoding=UTF8 # 인코딩 언어 설정
    volumes:
      - pgdata:/var/lib/postgresql/data  # 데이터 영속성을 위한 볼륨 마운트
      - ./init-db:/docker-entrypoint-initdb.d:ro  # 초기화 스크립트 마운트
    ports:
      - "5432:5432"  # 호스트의 5432 포트를 컨테이너의 5432 포트에 매칭
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U master -d dev_db"]  # 데이터베이스 연결 상태 확인
      interval: 5s
      timeout: 3s
      retries: 10
  
  # FastAPI 기반의 chating API 서비스
  api:
    container_name: chating_api # 컨테이너 이름 설정
    # 컨테이너 빌드 설정
    build:
      context: ..  # 빌드 컨텍스트를 현재 디렉토리의 상위 디렉토리로 설정
      dockerfile: ./docker/fastapi.Dockerfile # 도커파일 경로 지정
    working_dir: /app  # 컨테이너 내 작업 디렉토리 설정
    environment: 
      - PYTHONDONTWRITEBYTECODE=1 # 파이썬 바이트코드 생성을 방지
      - PYTHONUNBUFFERED=1 # 파이썬 출력 버퍼링 비활성화
      - PYTHONPATH=/app  # 파이썬 경로 설정
      - WATCHDOG_ENABLE=true  # 코드 변경 감지 활성화
      - TZ=Asia/Seoul  # 타임존 설정
      - DATABASE_URL=postgresql+psycopg2://master:dev_password@db:5432/dev_db  # 데이터베이스 연결 URL 설정
    volumes:
      - ..:/app  # 호스트의 app 디렉토리를 컨테이너의 /app 디렉토리에 마운트
    depends_on: # 의존성 서비스 설정
      db: # postgres 데이터베이스 서비스
        condition: service_healthy  # db 서비스가 정상 상태일 때까지 대기
    ports:
      - "8000:8000" # 호스트의 8000 포드를 컨테이너의 8000 포트에 매칭
    # 컨테이너 시작 시 실행할 명령어 정의
      # uvicorn app.main:app  fastapi 애플리케이션 실행
      # --host 0.0.0.0  모든 네트워크 인터페이스에서 수신 대기
      # --port 8000 8000 포트 사용
      # --workers 1 워커 프로세스 1개 사용
      # --reload 코드 변경 시 자동 재시작 활성화
      # --reload-dir /app /app 디렉토리 변경 감지
      # --log-level debug 디버그 로그 레벨 설정
    command: > 
      uvicorn app.main:app 
      --host 0.0.0.0 
      --port 8000
      --workers 1
      --reload
      --reload-dir /app
      --log-level debug

  # 볼륨 정의
volumes:
  pgdata:  # Postgres 데이터 영속성을 위한 볼륨